.buttons {
  margin: 1rem 0 0;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 0.8rem 0;
}

.buttons button:nth-child(1) {
  width: 32%;
  background-color: var(--light-gray);
}
.buttons button:nth-child(2) {
  width: 32%;
  background-color: white;
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
}

.buttons button:nth-child(3) {
  width: 32%;
  background-color: var(--pink);

  color: var(--dark-gray);
}

.buttons button:nth-child(1):hover {
  background-color: #999;
}

.buttons button:nth-child(2):hover {
  background-color: #eee;
}

.buttons button:nth-child(3):hover {
  background-color: #e8bdbd;
}
