.form {
  background-color: aqua;
  display: flex;
}

.form input {
  width: 90%;
}
.form button {
  background-color: #222;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: inherit;
  font-family: inherit;
}
