.list_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.list_container {
  background-color: white;
  width: 500px;
  padding: 4rem;
  margin: 5% 0.5rem 0.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list_container h3 {
  font-size: 3rem;
  text-align: center;
}
