:root {
  --light-gray: #888;
  --dark-gray: #222;
  --pink: #ffcccc;
}

.App {
  background: linear-gradient(to bottom, #ffcccc, #94d6cd);
  color: var(--dark-gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: var(--dark-gray);
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

input {
  border: 1px solid var(--dark-gray);
  border-radius: 0.3rem;
  font-size: inherit;
  font-family: inherit;
}

input:focus {
  outline: none;
  background-color: #f1f1f1;
}
